<td>
  <%=focal.id %>
</td>

<td>
  <%= form_for(focal) do |f| %>
      <%= f.text_area :content %>
    <%= f.submit 'Change', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete", focal_path(focal), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs')  %>
</td>
